In [1]:
#set중복자료제외
a = set([1,2,3,4,5,4])
a = set([1,2,3,4,5,4]
a

{1, 2, 3, 4, 5}

In [2]:
#딕셔너리(Dictionary)

In [3]:
#Pandas 불러오기(모듈 불러오기)
import pandas as pn
form pandas import Series, DataFrame

SyntaxError: invalid syntax (<ipython-input-3-604d6b14c5ef>, line 3)

In [4]:
dat = pd.read_csv()
data = pd.DataFrame()

NameError: name 'pd' is not defined

In [5]:
from pansdas import Series, DataFrame

ModuleNotFoundError: No module named 'pansdas'

In [ ]:
data = DataFram
#심현채
#import로 불렀을때
#pd.DataFrame
#램 최소화인가요

In [7]:
from pandas import Series, DataFrame

In [8]:
score = Series( [ 1000,2000,3000,4000,5000])
              index = ['2020-10']
score
#파이썬에서는 1,2,3,4라는 인덱스를 만든다라고 약속
#인덱스를 지정해 주지 않으면 0에서 출발

0    1000
1    2000
2    3000
3    4000
4    5000
dtype: int64

In [9]:
score = Series( [ 1000,2000,3000,4000,5000])
              index = ['2020-10-04', '2020-10-05','2020-10-03']
score

IndentationError: unexpected indent (<ipython-input-9-ebd077e04e7c>, line 2)

#Dtype:int64 데이타하나당 들어가는 비트수

In [ ]:
dat = { 'col1':[1,2,3,4],
        'col2':[10,20,30,40],
        'col3':[A,B,C,D]}

In [11]:
import pandas as pd
from pandas import Series, DataFrame

In [12]:
print("pandas 버전:", pd.__version__)

pandas 버전: 1.0.5

In [ ]:
##실습 2-1 시리즈 만들어보기
* 5일간의 걸었던 걸음 횟수(시리즈)를 시리즈 자료형으로 만들어보기

In [15]:
import pandas as pd
from pandas import Series, DataFrame

dat = { 'walk1':[1000,400],
        'walk2':[500, 600],
        'walk3':[600, 700],
        'walk4':[800,900],
        'walk5':[900,1000]}
dat

{'walk1': [1000, 400],
 'walk2': [500, 600],
 'walk3': [600, 700],
 'walk4': [800, 900],
 'walk5': [900, 1000]}

In [16]:
score = Series([3000,6000,7000,10000,13000])
print(score)
print("자료형 확인 : {}".format(type(score)))

0     3000
1     6000
2     7000
3    10000
4    13000
dtype: int64
자료형 확인 : <class 'pandas.core.series.Series'>

In [17]:
print(score.index)

RangeIndex(start=0, stop=5, step=1)

In [18]:
print(score.values)

[ 3000  6000  7000 10000 13000]

In [19]:
print(score.dtype)#자료형

int64

In [20]:
score = Series([3000,6000,7000,10000,13000],
              index=['2019-05-01','2019-05-02','2019-05-03','2019-05-04','2019-05-05'])
score

2019-05-01     3000
2019-05-02     6000
2019-05-03     7000
2019-05-04    10000
2019-05-05    13000
dtype: int64

In [24]:
score['2019-05-03':'2019-05-05']

2019-05-03     7000
2019-05-04    10000
2019-05-05    13000
dtype: int64

In [25]:
score[2:5]

2019-05-03     7000
2019-05-04    10000
2019-05-05    13000
dtype: int64

In [28]:
#강사님이 모두에게:  10:26 AM
#실습 2-2
#2명의 5일간의 걸음수를 시리즈를 각각 만들어서, 더해보자.
#1명 2020/05/03 ~ 2020/05/07
#1명 2020/05/05 ~ 2020/05/09
#toto, gildong (예)
score1 = Series([3000,6000,7000,10000,13000],
              index=['2019-05-03','2019-05-04','2019-05-05','2019-05-06','2019-05-07'])

score2 = Series([5000,4000,3000,20000,11000],
              index=['2019-05-05','2019-05-06','2019-05-07','2019-05-08','2019-05-09'])
print(score1 + score2)

2019-05-03        NaN
2019-05-04        NaN
2019-05-05    12000.0
2019-05-06    14000.0
2019-05-07    16000.0
2019-05-08        NaN
2019-05-09        NaN
dtype: float64

In [29]:
#강사님
count1 = Series([3000,6000,7000,10000,13000],
             index=['2019-05-03','2019-05-04','2019-05-05','2019-05-06','2019-05-07'])

count2 = Series([5000,4000,3000,20000,11000],
              index=['2019-05-05','2019-05-06','2019-05-07','2019-05-08','2019-05-09'])
count1+count2

2019-05-03        NaN
2019-05-04        NaN
2019-05-05    12000.0
2019-05-06    14000.0
2019-05-07    16000.0
2019-05-08        NaN
2019-05-09        NaN
dtype: float64

In [ ]:
python에서 NaN:Not a Number 숫자가 아니다.

In [31]:
from pandas import DataFrame

dat = {'col1':[1,2,3,4],
       'col2':[10,20,30,40],
       'col3' :['A','B','C','D']}
df = DataFrame(dat)
df

   col1  col2 col3
0     1    10    A
1     2    20    B
2     3    30    C
3     4    40    D

In [35]:

       # 실습 2-3
# 팀이 4개의 팀이 있어요 각각의 4일 간의 팀별 점수를 넣어서 데이터 프레임을 만들기
# 같은 날짜로 해주기
from pandas import DataFrame

dat = {'team1':[50,50,30,40],
       'team2':[60,40,40,30],
       'team3':[70,30,50,22],
       'team4':[80,40,60,10]}
#전준호님
df = DataFrame(dat,index = pd.date_range(start='10/5/2020', end='10/8/2020'))
df

            team1  team2  team3  team4
2020-10-05     50     60     70     80
2020-10-06     50     40     30     40
2020-10-07     30     40     50     60
2020-10-08     40     30     22     10

In [33]:
#강사님이 모두에게:  10:48 AM
from pandas import DataFrame
team_score = { "toto":[1500,3000,5000,7000,5500],
                "apple":[4000,5000,6000,5500,4500],
                "gildong":[2000,2500,3000,4000,3000],
                "catanddog":[7000,5000,3000,5000,4000]}

team_df = DataFrame(team_score, index=pd.date_range(start='10/5/2020', end='10/9/2020') )
team_df

            toto  apple  gildong  catanddog
2020-10-05  1500   4000     2000       7000
2020-10-06  3000   5000     2500       5000
2020-10-07  5000   6000     3000       3000
2020-10-08  7000   5500     4000       5000
2020-10-09  5500   4500     3000       4000

In [34]:
#강사님이 모두에게:  10:48 AM
ts_days_idx1 = pd.date_range('2019-10-05', periods=5)

team_df1 = DataFrame(team_score, index= ts_days_idx1 )
team_df1

            toto  apple  gildong  catanddog
2019-10-05  1500   4000     2000       7000
2019-10-06  3000   5000     2500       5000
2019-10-07  5000   6000     3000       3000
2019-10-08  7000   5500     4000       5000
2019-10-09  5500   4500     3000       4000

In [43]:
#수업실습
print(team_df.iloc[:,0])
print("______")
print(team_df.iloc[:,[0,1]])
print("______")
print(team_df.iloc[:,0:3:1])
print("______")
range_num = list(range(0,3,1))
print(team_df.iloc[:,range_num])

2020-10-05    1500
2020-10-06    3000
2020-10-07    5000
2020-10-08    7000
2020-10-09    5500
Freq: D, Name: toto, dtype: int64
______
            toto  apple
2020-10-05  1500   4000
2020-10-06  3000   5000
2020-10-07  5000   6000
2020-10-08  7000   5500
2020-10-09  5500   4500
______
            toto  apple  gildong
2020-10-05  1500   4000     2000
2020-10-06  3000   5000     2500
2020-10-07  5000   6000     3000
2020-10-08  7000   5500     4000
2020-10-09  5500   4500     3000
______
            toto  apple  gildong
2020-10-05  1500   4000     2000
2020-10-06  3000   5000     2500
2020-10-07  5000   6000     3000
2020-10-08  7000   5500     4000
2020-10-09  5500   4500     3000